#clock,
#hyprland-workspaces,
#spotify,
#network,
#wireplumber,
#battery {
  margin-left: -1px; /* overlap slightly to merge */
  margin-right: -1px;
  padding: 6px 20px;
  border-radius: 25px; /* full pill */
  background-color: @color0;
  color: @foreground;
  font-weight: bold;
}

/* Remove internal workspaces pills */
#hyprland-workspaces button {
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 0;
  background-color: transparent;
  color: @foreground;
}
