@import url("file:///home/sebas2/.cache/wal/colors-waybar.css");

/* GLOBAL */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Google Sans Flex", "JetBrainsMono Nerd Font Propo";
  font-size: 13px;
}

/* BAR */
window#waybar {
  background-color: @background;
  margin: 0 10px;
}

/* WORKSPACES */
#workspaces button {
  padding: 6px 18px;
  margin: 6px 3px 6px 6px;
  border-radius: 15px;
  background-color: @color0;
  color: @foreground;
  transition: all 0.3s ease;
}

#workspaces button:hover {
  background-color: @color7;

  color: @background;
}

#workspaces button.active {
  padding: 6px 24px; /* Increased padding to make it bigger */

  background-color: @foreground;

  color: @background;
}

#workspaces button.urgent {
  background-color: @color1;
  color: @background;
}

/* MODULE PILL BASE */
#memory,
#battery,
#network,
#wireplumber,
#clock,
#tray,
#custom-notifications,
#custom-power {
  margin: 6px 3px;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: @color0;
  color: @foreground;
}

/* INDIVIDUAL COLORS */
#memory {
  background-color: @color3;
  color: @background;
}

#battery {
  background-color: @color1;
  color: @background;
}

#battery.charging {
  background-color: @color2;
}

#network {
  background-color: @color6;
  color: @background;
}

#wireplumber {
  background-color: @color5;
  color: @background;
}

#clock {
  background-color: @color4;
  color: @background;
  font-weight: bold;
}

#custom-notifications {
  background-color: @color7;
  color: @background;
}

#custom-power {
  background-color: @color2;
  color: @background;
}

#custom-discord {
  background-color: @color6;
  color: @background;
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  font-size: 13px;
}

/* TOOLTIP */
tooltip {
  background-color: @background;
  color: @foreground;
  padding: 10px;
  border-radius: 6px;
}
