@import url("file:///home/sebas2/.cache/wal/colors-waybar.css");

window#waybar {
  background: transparent;
  font-family: "Google Sans Flex", "JetBrainsMono Nerd Font Propo";
}

#clock {
  color: @color4;
  font-weight: bold;
  padding: 0 6px;
}

#workspaces,
#network {
  color: @color6;
  padding: 0 6px;
}

#wireplumber {
  color: @color5;
  padding: 0 6px;
}
#battery {
  background: transparent;
  padding: 0 6px;
}

#custom-spotify {
  color: @color7;
  padding: 0 6px;
}

#workspaces button {
  padding: 0 8px;
  border-radius: 0;
  background: transparent;
  color: @foreground;
}

#workspaces button.active {
  color: @color4;
}

.modules-center {
  background: @background;
  padding: 6px 12px;
  border-radius: 12px;
}

.modules-right {
  background: @background;
  padding: 6px 12px;
  border-radius: 12px;
}
