* {
    background: {background}BF;
    foreground: {foreground};
    accent: {color2};
    primary: {color3};
    muted: {color4};
    border-color: {color8}40;
    alert: {color9};

    bg0: {background}BF;
    bg1: {background}CC;
    bg2: {color4}BF;
    bg3: {color3}BF;

    fg0: {foreground};
    fg1: {color8};
    fg2: {color4};
    fg3: {color8};

    selected: {color3};
    color13: {color3};
}

window {
    transparency: "real";
}
