* {
  color: @foreground;

  all: unset;
  font-size: 17px;
  font-family: "Rubik";
  transition: 400ms;
}

/* Avoid 'annoying' backgroud */
.blank-window {
  background: transparent;
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: alpha(@background, 0.75);
  border-radius: 12px;
  border: 1px solid @border-color;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  margin: 18px;
  padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center
  .notification-row
  .notification-background
  .notification.critical {
  background-color: @bg-alt;
  border: 1px solid @border-color;
  border-radius: 10px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  color: @urgent;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  background: alpha(@accent, 0.6);
  color: @foreground;
  border-radius: 8px;
  margin: 6px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background: @accent;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @accent;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 8px;
  color: @foreground;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @accent;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @accent;
}

progressbar,
progress,
trough {
  border-radius: 10px;
}

progressbar {
  background-color: alpha(@color8, 0.4);
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;
}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @foreground;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @foreground;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @foreground;
  margin: 4px;
  border-radius: 8px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @accent-hover;
}

/* WIDGETS --------------------------------------------------------------------------- */

/* Separator between title and notifications */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid @border-color;
}

.widget-title button {
  background: @bg-alt;
  border-radius: 8px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @accent-hover;
}

.widget-title button:active {
  background-color: @accent;
}

/* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @bg-alt;
  font-size: initial;
  border-radius: 10px;
  border: 1px solid @border-color;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @accent-hover;
}

.widget-dnd > switch:checked {
  background: @accent;
}

.widget-dnd > switch:checked:hover {
  background: @accent-hover;
}

.widget-dnd > switch slider {
  background: @foreground;
  border-radius: 10px;
}

/* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 10px;
  border: 1px solid @border-color;
  background: @bg-alt;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @accent-hover;
}

/* Volume */
.widget-volume {
  background: @bg-alt;
  color: @foreground;
  padding: 4px;
  margin: 6px;
  border-radius: 10px;
  border: 1px solid @border-color;
}
